<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tram App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

    <div ng-app="tramApp" class="container">
        <div class="row" ng-controller="tramController">
            <div class="col-md-3">
                <ul class="list-group">
                    <li
                        class="list-group-item"
                        ng-repeat="t in trams"
                        ng-click="getStops(t.tram_id)"
                        ng-class="{'active': t.tram_id === active_tram}">

                        <p>{{ t.tram_id }}, {{ t.route_name }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group stop-list">
                    <li
                        class="list-group-item"
                        ng-repeat="s in stops"
                        ng-class="{'active': s.stop_id === current_stop}">
                        {{ s.stop_id }}, {{ s.stop_name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="App.js"></script>
    <script src="scripts/controllers/TramController.js"></script>
    <script src="scripts/services/TramApiService.js"></script>
</body>
</html>
